.classpath
.project
.settings
eclipsebin

bin
gen
out
lib

test-output

target
pom.xml.*
release.properties

.idea/*
*.iml
*.ipr
*.iws
classes

*.log*
obj
*.swp
.DS_Store
*.swp

.vagrant
brooklyn-clocker/
external-resources/

.checkstyle

