<configuration>

    <!-- to supply custom logging, either change this file, supply your own logback-main.xml
         (overriding the default provided on the classpath) or any of the files it references;
         see the Logging section of the Brooklyn web site for more information -->

    <property name="logging.basename" scope="context" value="brooklyn" />
    <property name="logging.dir" scope="context" value="./" />

    <include resource="logback-main.xml"/>

    <logger name="brooklyn.entity.nosql.cassandra" level="TRACE"/>
    <logger name="io.cloudsoft" level="DEBUG"/>
    <logger name="io.cloudsoft.ciena.vwan.v2_1" level="DEBUG"/>
    <logger name="com.cloudsoftcorp" level="DEBUG"/>
    <logger name="brooklyn.util.internal.ssh.sshj" level="TRACE"/>

    <!--
        <logger name="brooklyn.event.feed" level="TRACE"/>
        <logger name="brooklyn.util.task" level="TRACE"/>
        <logger name="brooklyn.entity.rebind.persister" level="TRACE"/>
        <logger name="brooklyn.entity.rebind" level="TRACE"/>
    -->

</configuration>