<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Clocker - {{page.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/tabs.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/github-light.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/syntax.css">
    <script src="{{site.baseurl}}/assets/javascripts/scale.fix.js"></script>
    <script src="{{site.baseurl}}/assets/javascripts/jquery-3.1.1.min.js"></script>
    <script src="{{site.baseurl}}/assets/javascripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="{{site.baseurl}}/">Clocker</a></h1>
        <p class="header">The Docker Cloud Maker</p>

        <ul class="menu">
          <li>
            <a href="{{site.baseurl}}/docs">Documentation</a>
            <ul>
              <li><a href="{{site.baseurl}}/docs/swarm-cluster.html">Docker Swarm</a></li>
              <li><a href="{{site.baseurl}}/docs/kubernetes-cluster.html">Kubernetes cluster</a></li>
              <li><a href="{{site.baseurl}}/docs/troubleshooting.html">Troubleshooting</a></li>
            </ul>
          </li>
          <li>
            <a href="{{site.baseurl}}/tutorials">Tutorials</a>
            <ul>
              <li><a href="{{site.baseurl}}/tutorials/swarm-cluster.html">Docker Swarm</a></li>
              <li><a href="{{site.baseurl}}/tutorials/kubernetes-cluster.html">Kubernetes cluster</a></li>
            </ul>
          </li>
        </ul>
        <a class="button github" href="https://github.com/brooklyncentral/clocker">View On GitHub</a>
      </header>
      <section>

        {{ content }}

      </section>
    <footer>
      <p><img src="https://img.shields.io/maven-central/v/io.brooklyn.clocker/clocker-parent.svg" alt="Clocker's version" /></p>
      <p><small>Proudly sponsored by <a href="http://cloudsoft.io"><img style="width: 100px;" src="{{site.baseurl}}/assets/images/cloudsoft-white.png" /></a></small></p>
    </footer>
  </div>
  <!--[if !IE]><script>fixScale(document);</script><![endif]-->

</body>
</html>
